/*
--- 01 TYPOGRAPHY
  -- Font Sizes (px)
    - 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    
  -- Font Weights
    - Default: 400
    - Medium: 500
    - Semi-bold: 600
    - Bold: 700

  -- Line Heights
    - Default:1
    - Small: 1.05
    - Medium: 1.2
    - Paragraph default: 1.6
    - Large: 1.8

  -- Letter Spacing
    - -0.5px
    - 0.75px

--- 02 COLORS
  -- Primary: #5abb41
  -- Tints: #eff8ec #def1d9 #9cd68d
  -- Shades: #51a83b #367027
  -- Accents:
  -- Greys: #333 #555 #6f6f6f #767676

--- 05 SHADOWS
  -- box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS
  -- Default: 9px
  -- Medium: 11px

--- 07 WHITE SPACE
  -- Spacing
    - 2 / 4 / 8 / 12 / 16 / 24 / 32 /48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  overflow-x: hidden;
}

/*****************************************/
/*GENERAL REPEATED SECTIONS*/
/*****************************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 6.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #51a83b;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #5abb41;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #51a83b;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #eff8ec;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #367027;
  color: #eff8ec;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #eff8ec;
  color: #367027;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #5abb41;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #51a83b;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #5abb41;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(89, 187, 65, 0.507);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}
